<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- caja formulario -->
<div class="box-formulario">


  <div class="inputs-form">
  <div class="box-img">
    <img src="../../assets/imagenes/Oh my good.jpg" alt="not found">
  </div>


  

  <ion-list>
    <ion-item>
      <ion-input label="Correo:" placeholder="pina.ca@duocuc.cl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Rut:" placeholder="20.113.777-4"></ion-input>
    </ion-item>

    <div class="box-recuperar">
      <ion-button class="boton-recuperar">Recuperar</ion-button>
    </div>
 
  </ion-list>

  </div>

</div>



</ion-content>
