
.login-box{
    display: grid;
    margin: auto;
    margin-top: 25%;
    max-width: 400px;
    align-items: center;

}

.boton-goToHome{

    padding-top: 50px;
    margin: 10px;

}

.item-login{

    padding: 10px;


}